doctype html
html(lang="")
  head
    meta(charset="utf-8")
    title Index
    link(rel="stylesheet" href="css/main.css")
  body
    h2 This Template Powered by Pug(Jade)

    h2 Sprite images Powered by Spritesmith
    .sprite

    script(src="js/main.js")
