@import "./sprites";

body {
  background-color: #0bb5da;
  color: white;
  h2 {
    text-align: center;
  }
  .sprite {
    @include sprite($ic-attach-money-white-48dp);

    margin: auto;

    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
}
